<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <style>
    .video-container {
        border: 5px solid black; /* İstenilen border rengi ve kalınlığı */
        padding: 10px; /* İçeriğin border ile arasındaki boşluk */
        width: 240px; /* İçerik genişliği */
        height: 480px; /* İçerik yüksekliği */
        margin: 0 auto; /* İçeriği ortalamak için */
    }
    </style>
<body>
    <div class="video-container">
    </div>
</body>
</html>